html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  overflow-x: hidden;
  // font-family: "Roboto-Regular", sans-serif;
  // font-size: 15px;
  // font-weight: 400;
  // line-height: 24px;
  // color: $text;
}
html, body {
  position:relative;
  overflow-x:hidden;
}
.container {
  // max-width: 1200px;
  margin: 0 auto;
  // padding: 0 15px;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}
.title {
  // text-align: center;
  // @include f700;
  // color: $bg;
  // line-height: 60px;
  // font-size: 36px;
  // margin-bottom: 30px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}