// $text: #546e7a;


// @mixin f300 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 300;
// }
// @mixin f500 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
// }
// @mixin f700 {
//   font-family: "Roboto", sans-serif;
//   font-weight: 700;
//   color: #263238;
// }
// @mixin icomoon {
//   position: absolute;
//   font-family: "icomoon";
// }
