@import "_vars";
@import "_global";
@import "_fonts";

// start header
.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #ffffff;
  @include m700;
  &__inner{
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 90%;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 135px;
    padding-top: 40px;
    a {
      color: #ffffff;
      text-transform: uppercase;
    }
    &-title {
      font-size: 29px;
    }
    li {
      a {
        font-size: 10px;
        transition: all 0.5s;
        &:hover {
          color: #ffe26d;
        }
      }
      & + li {
        margin-left: 35px;
      }
    }
  }
  &__info {
    h4 {
      max-width: 470px;
      font-size: 41px;
      margin-bottom: 35px;
    }
    p {
        font-family: "Roboto-Thin";
        font-size: 19px;
        max-width: 415px;
        font-weight: 400;
        margin-bottom: 35px;
    }
    a {
        background-color: #62497c;
        padding: 15px 25px;
        text-transform: uppercase;
        font-size: 10px;
        color: #ffffff;
        transition: all .5s;
        &:hover{
            background-color: #ffe26d;
        }
    }
  }
  .slick-dots {
    position: absolute;
    text-align: center;
    display: block;
    bottom: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
    
}
.slick-dots li {    
    &+li{
        margin-left: 15px;
    }
}
.slick-dots li button {
    font-size: 0;
    height: 11px;
    width: 7px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    border: none;
    outline: none;
}
.slick-dots li.slick-active button {
    background-color: #ffffff;
    
}


}
.header__slider{
  
  img{
    width: 100%;
    
  }
}
// end header
@import "_media";
